*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background: #008080; */

}
.btn{
    margin: 2rem;
    margin-left: 50%;
    border: none;
    border-radius: 1rem;
    padding: 10px 30px;
    background: #ffa500;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}
.btn:hover{
    background-color: #ff4500;
    transform: scale(1.2) ;
}
